{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table align="center">
    <tr>
        <th>Transaction</th>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transacted</th>
    </tr>
    {% for share in myshares %}
        <tr>
            <td>{{ share['trans'] }}</td>
            <td>{{ share['symbol'] }}</td>
            <td>{{ share['shares'] }}</td>
            <td>{{ usd(share['price']) }}</td>
            <td>{{ share['transacted'] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}